# Titanic Survival Data Analysis

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('titanic_data.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Total survivors

In [12]:
survivor_num = np.sum(data['Survived'])      
survivor_num

342

### Male Survival to Death

In [15]:
total_male = np.sum(data['Sex']  ==  'male')
total_male

577

In [36]:
survivors = data.loc[data['Survived'] == 1]       #Survivors' Dataframe
survivor_male = (survivors['Sex'] == 'male')      #male survivors
survivor_male_num = sum(survivor_male)
survivor_male_num

109

In [40]:
StoD_m = survivor_male_num/(total_male - survivor_male_num)
StoD_m           #Survval to death ratio: MALE

0.2329059829059829

In [59]:
prob_male_survival = survivor_male_num/data['PassengerId'].iloc[-1]
prob_male_survival

0.122334455667789

### Female Survival to Death

In [37]:
total_female = np.sum(data['Sex']  ==  'female')
total_female

314

In [52]:
survivor_female = survivors['Sex'] == 'female'
survivor_female_num = np.sum(survivor_female)
survivor_female_num

233

In [55]:
StoD_f = survivor_female_num/(total_female - survivor_female_num)
StoD_f

2.876543209876543

In [61]:
prob_female_survival = survivor_female_num/ data['PassengerId'].iloc[-1]
prob_female_survival

0.2615039281705948

### Parameter: AGE

In [67]:
Average_age_passengers = np.sum(data['Age'])/data['PassengerId'].iloc[-1]
Average_age_passengers

23.79929292929293

In [77]:
survivors_below_avg = survivors[survivors['Age'] < Average_age_passengers]
num_survivors_below_avg = sum(survivors_below_avg['Survived'])
num_survivors_below_avg

103

In [80]:
survivors_above_avg = survivors[survivors['Age'] >= Average_age_passengers]
num_survivors_above_avg = sum(survivors_above_avg['Survived'])
num_survivors_above_avg

187

In [82]:
set(data['Pclass'].values)

{1, 2, 3}

In [120]:
#claculates passenerss in specific class in a dataframe
def calculate_class_pass(Pclass, df):
    return int(sum(df[df['Pclass'] == Pclass]['Pclass'])/Pclass)

In [118]:
num_surv_one_pclass = calculate_class_pass(1, survivors)
num_surv_one_pclass

136

In [113]:
num_surv_two_pclass = calculate_class_pass(2, survivors)
num_surv_two_pclass

87

In [124]:
num_surv_three_pclass = calculate_class_pass(3, survivors)
num_surv_three_pclass

119

In [121]:
total_pass_one =  calculate_class_pass(1, data)
total_pass_one

216

In [122]:
total_pass_two =  calculate_class_pass(2, data)
total_pass_two

184

In [123]:
total_pass_three =  calculate_class_pass(3, data)
total_pass_three

491